# Question 1: Write a Python program to print all the numbers from 1 to 10 using a for loop.

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# Question 2: Write a Python program to find the sum of all numbers from 1 to 100 using a for loop.

In [3]:
sum = 0
for i in range(1,101):
    sum = sum + i
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

# Question 3: Write a Python program to print the multiplication table of a given number using a for loop.

In [4]:
n = int(input("Enter a number:"))
for i in range(1,11):
    print(n * i)

Enter a number: 2

2
4
6
8
10
12
14
16
18
20

# Question 4: Write a Python program to count the number of even and odd numbers from a series of numbers using a for loop

In [15]:
#num = [1,2,3,4,5,6,7,8,9,10]
even_count = 0
odd_count = 0
for i in range(1,21):
    if i % 2 == 0:
        even_count = even_count + 1
    else:
        odd_count = odd_count + 1

print("even number:",even_count)
print("odd number:",odd_count)

even number: 10
odd number: 10

# Question 5: Write a Python program to find the factorial of a number using a for loop.

In [14]:
n = int(input("Enter a number:"))
fact = 1
for i in range(1, n+1):
    fact = fact * i
print("factorial of given number:",fact)

Enter a number: 4

factorial of given number: 24

# Question 6: Write a Python program to print the Fibonacci sequence up to a specified number using a for loop

In [25]:
n = int(input("Enter a number:"))
a, b = 0, 1
print("fibonacci sequence:")
for i in range(n):
    print(a, end = " ")
    a, b = b,a + b

Enter a number: 5

fibonacci sequence:
0 1 1 2 3

# Question 7: Write a Python program to check if a given number is prime or not using a for loop.

In [30]:
n = int(input("Enter  a number:"))
is_prime = True

if n < 2:
    is_prime = False
else:
    for i in range(2,n):
        if n % i == 0:
            is_prime = False
            break
if is_prime:
    print(n, "is prime")
else:
    print(n, "is not prime")

Enter  a number: 6

6 is not prime

# Question 8: Write a Python program to find the largest element in a list using a for loop.

In [38]:
num = [10,12,34,47,500,60,17,80,99,110]
largest = num[0]
for i in num:
    if i > largest:
        largest = i

print("largest number is:",largest)

largest number is: 500

# . Question 9: Write a Python program to reverse a given string using a for loop.

In [39]:
text = input("Enter a string;")
rev_str = ""
for ch in text:
    rev_str = ch + rev_str
print("Reversed string is:",rev_str)

Enter a string; ayush

Reversed string is: hsuya

# Question 10: Write a Python program to find the common elements between two lists using a for loop. List1 = [1,2,3] List2 = [4,5,1] # common element is 1

In [40]:
list1 = [1,2,3]
list2 = [4,5,1]
common = []
for i in list1:
    if i in list2:
        common.append(i)
print("Common element:",common)

Common element: [1]